.product-image{
    height: auto;
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image-container{
    width: 20%;
    text-align: center;
    min-width: 150px;
    margin: auto;
}

.form{
    width: 80%;
    min-width: 360px;
    margin: auto;
    max-width: 650px;
}